@media (max-width:990px) {
    
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 3rem;
        // height: auto;
        overflow: hidden;
        gap: 3rem;

        transition: all .4s;

        &.active{
            height: auto ;
        }

        &>a{
            margin-top: 1rem;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &:last-of-type{
                flex-direction: row;
                gap: 1rem;
                align-self: center;

                i{
                    font-size: 1.2rem;
                }
            }
            

            i{
                font-size: 1.5rem;
            }

            a{
                text-decoration: none; 
                color: #fff;

                &:hover{
                    color: orange;
                }
            }
        }

        .bars{
            display: block;
        }
    }

    .page{
        padding: 3rem 1rem 4rem !important;
        font-size: 1.3rem;

        h1{
            font-size: 1.6rem !important;            
        }
    }

    #hero{
        min-height: calc(100vh - 75px);
        padding: 6rem 1rem;
        padding-bottom: 5rem;
        gap: 2rem;

        .intro{
            display: flex;
            flex-direction: column;
            align-items: center;

            &>p{
                color: orange;
                font-size: .9rem;
                margin: .5rem 0 1.5rem;
            }
        }

        h1{
            font-size: 4rem;
            color: #fff;
            line-height: 80%;
        }

        .image{
            width: 95vw;
            height: calc(110px + 30vh);
            background: grey;
        }
    }

    .event{
      .image{
          height: 340px !important;
      }
    }

    footer{
        div{
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;

            p{
                max-width: 100%;
            }

            ul{
                align-items: flex-start;
                padding-left: 0;
            }
        }
    }
}

@media (max-width:550px) {

    .service{  
        .servicename{
          font-size: .9rem;
        }

        .servicedetails{
            color: #fff;
            font-size: .85rem;
          }
      }

      .event{
          padding: .5rem .75rem;
        .image{
            height: 200px !important;
        }
      }

    .swiper {
      
        .swiper-slide{
          .eventname{
              font-size: 1.7rem !important;
          }
      
          .text{
             font-size: .9rem;
          }
      
          .details{
              bottom: 1rem;
              right: 1rem;
      
              .location,.time{
                  font-size: .75rem;
              }
      
              p:last-child{
                  font-size: .8rem;
              }
          }
        }
      
        .swiper-button-prev,
        .swiper-button-next {
          background: rgba(255, 255, 255, 0.621);
          padding: 1rem;
          color: orange;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 0.4rem;
      
          &::after {
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
    #hero{
        .intro{
            &>p{
                color: orange;
                font-size: .85rem;
                margin: .5rem 0 1.5rem;
            }
        }

        h1{
            font-size: 3rem;
        }

        .image{
            width: 96vw;
            height: calc(90px + 25vh);
            background: grey;
        }
    }
}